---
import Button from "./Button.astro";
---

<section class="px-10 py-36 w-full max-w-5xl bg-cover bg-center flex flex-col items-center text-center gap-4 rounded-lg"
  style="background-image: url('/images/barber-client.jpg');">
  <h1 class="text-3xl md:text-5xl font-extrabold text-light drop-shadow-[0_0_8px_#000]">
    Estilo que habla por ti
  </h1>
  <h3 class="text-sm md:text-lg max-w-xl text-light bg-dark opacity-90 rounded-md p-4">
    Experimenta la artesanía y el estilo clásico con un toque moderno. Calidad y precisión en cada corte.
  </h3>
  <Button class="mt-8">Reservar Cita</Button>
</section>