---
import Logo from '../../public/logo.svg';
import Button from './Button.astro';
---

<nav class="fixed top-0 left-0 w-full z-50 flex justify-between items-center text-white py-4 px-4 border-b-2 border-night 
bg-dark/80 backdrop-blur">
  <img src={Logo.src} alt="Barbería Central Logo" class="w-52 lg:w-60" />
  <button 
    id="menu-toggle"
    class="md:hidden flex flex-col gap-1.5 cursor-pointer"
    aria-label="Abrir menú"
  >
    <span class="w-6 h-0.5 bg-white"></span>
    <span class="w-6 h-0.5 bg-white"></span>
    <span class="w-6 h-0.5 bg-white"></span>
  </button>
  <ul 
    id="menu"
    class="z-10 md:z-0 hidden flex-col items-center gap-4 absolute top-full left-0 w-full md:w-fit bg-dark p-6 
           md:static md:flex md:flex-row md:justify-between md:bg-transparent md:p-0"
  >
    <li><a href="#services" class="hover:text-gold">Servicios</a></li>
    <li><a href="#photos" class="hover:text-gold">Galería</a></li>
    <li><a href="#about" class="hover:text-gold">Nosotros</a></li>
    <li><a href="#testimonials" class="hover:text-gold">Testimonios</a></li>
    <li><a href="#contact" class="hover:text-gold">Contacto</a></li>
    <li><Button>Reservar</Button></li>
  </ul>
</nav>
<script>
  const toggle = document.getElementById("menu-toggle");
  const menu = document.getElementById("menu");
  toggle?.addEventListener("click", () => {
    menu?.classList.toggle("hidden");
    menu?.classList.toggle("flex");
  });
</script>
